@font-face {
  font-family: defaultFont;
  src: url(../fonts/display.ttf);
}
* {
  font-family: defaultFont, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  align-items: center;
  background-color: #0055c6;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
body .content_wrapper {
  gap: 20px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.nav_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;
}
.nav_buttons .control_button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;
  background: rgb(248, 208, 0);
  background: radial-gradient(circle, rgb(248, 208, 0) 0%, rgb(214, 190, 67) 100%);
  -webkit-box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);
  box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);
}
.nav_buttons .control_button::before {
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background-color: #d6be43;
  border-radius: inherit;
  z-index: -1;
}
.nav_buttons .control_button::after {
  content: "";
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border: 1px solid #453a1c;
  background-color: #453a1c;
  opacity: 0.4;
  z-index: -2;
  border-radius: inherit;
  left: -3px;
  bottom: -3px;
}
.nav_buttons .control_button.control_button--active {
  transform: scale(0.92);
}
.nav_buttons .control_button.control_button--active::before {
  background-color: #dec140;
  -webkit-box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
  -moz-box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
  box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
}
.nav_buttons .control_button.control_button--active:after {
  transform: scale(1.1);
}
.nav_buttons .control_button.control_button--small {
  width: 30px;
  height: 30px;
}
.nav_buttons .buttons_cross {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav_buttons .buttons_cross .row {
  justify-content: center;
  gap: 25px;
}
.nav_buttons .buttons_cross .row .col p {
  font-size: 14px;
  text-align: center;
  color: white;
}
.nav_buttons .buttons_cross .cross {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(107%) contrast(101%);
  width: 50px;
}
.nav_buttons .control_buttons {
  align-self: flex-start;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.game .interface {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  text-align: end;
}
.game .interface .interface_text {
  font-size: 25px;
}
.game .interface .pause--inactive {
  opacity: 0.3;
}
.game .interface #hi_score {
  opacity: 0.3;
}
.game .game_screen_container {
  padding: 30px;
  border: 4px solid white;
  position: relative;
}
.game .game_screen_container::before {
  content: "Super";
  font-family: defaultFont, sans-serif;
  font-size: 30px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: #0055c6;
  padding: 0 20px;
}
.game .game_screen_container .game_screen {
  display: flex;
  background-color: #8fb460;
  padding: 10px;
  position: relative;
}
.game .game_screen_container .game_screen .field_wrapper {
  display: flex;
  border: 4px solid black;
  min-width: 300px;
  min-height: 600px;
}
.game .game_screen_container .game_screen .field_wrapper .field_blank_line {
  display: grid;
  grid-template-columns: 30px;
}
.game .game_screen_container .game_screen .field_wrapper .field_border {
  display: flex;
  flex-direction: column;
}
.game .game_screen_container .game_screen .field_wrapper #field {
  display: grid;
}
.game .game_screen_container .game_screen .field_wrapper #field.field--two_lined {
  grid-template-columns: repeat(6, 30px);
}
.game .game_screen_container .game_screen .field_wrapper #field.field--three_lined {
  grid-template-columns: repeat(9, 30px);
}

.decorative_blocks {
  display: flex;
  flex-direction: column;
  gap: 31.5px;
}
.decorative_blocks .o {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(2, 30px);
}
.decorative_blocks .l {
  display: grid;
  grid-template-columns: repeat(1, 30px);
  grid-template-rows: repeat(4, 30px);
}
.decorative_blocks .s {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(3, 30px);
}
.decorative_blocks .j {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(3, 30px);
}
.decorative_blocks .t {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(3, 30px);
}
.decorative_blocks .z {
  display: grid;
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(3, 30px);
}

.block {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: #8fb460;
}
.block::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: transparent;
}
.block::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
}
.block.decorative {
  background-color: transparent;
}
.block.decorative::before {
  border: 2px solid white;
}
.block.decorative::after {
  background-color: white;
}
.block.block--active::before {
  border: 2px solid black;
}
.block.block--active::after {
  background-color: black;
}
.block.block--inactive::before {
  border: 2px solid #7cae52;
}
.block.block--inactive::after {
  background-color: #7cae52;
}

/*# sourceMappingURL=style.css.map */
