$block-size: 30px;
@font-face {
  font-family: defaultFont;
  src: url(../fonts/display.ttf);
}

* {
  font-family: defaultFont, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  align-items: center;
  background-color: #0055c6;
  display: flex;
  justify-content: center;

  .content_wrapper {
    gap: 20px;
  }
  padding-top: 10px;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.nav_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  color: white;

  .control_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    position: relative;
    margin-bottom: 3px;

    cursor: pointer;
    background: rgb(248, 208, 0);
    background: radial-gradient(circle, rgba(248, 208, 0, 1) 0%, rgba(214, 190, 67, 1) 100%);
    -webkit-box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);
    box-shadow: -16px 21px 56px -1px rgba(0, 0, 0, 0.49);

    &::before {
      content: '';
      position: absolute;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      left: -2px;
      top: -2px;
      background-color: #d6be43;
      border-radius: inherit;
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      border: 1px solid #453a1c;
      background-color: #453a1c;
      opacity: 0.4;
      z-index: -2;
      border-radius: inherit;
      left: -3px;
      bottom: -3px;
    }

    &.control_button--active {
      transform: scale(0.92);

      &::before {
        background-color: #dec140;
        -webkit-box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
        -moz-box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
        box-shadow: 0px 0px 58px -18px rgba(214, 190, 67, 0.77);
      }

      &:after {
        transform: scale(1.1);

      }
    }

    &.control_button--small {
      width: 30px;
      height: 30px;
    }
  }

  .buttons_cross {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      justify-content: center;
      gap: 25px;

      .col {
        p {
          font-size: 14px;
          text-align: center;
          color: white;
        }
      }
    }

    .cross {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(80deg) brightness(107%) contrast(101%);
      width: 50px;
    }
  }

  .control_buttons {
    align-self: flex-start;
  }
}


.game {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .interface {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    text-align: end;

    .interface_text {
      font-size: 25px;
    }

    .pause--inactive {
      opacity: 0.3;
    }

    #hi_score {
      opacity: 0.3;
    }
  }

  .game_screen_container {
    padding: 30px;
    border: 4px solid white;
    position: relative;

    &::before {
      content: 'Super';
      font-family: defaultFont, sans-serif;
      font-size: 30px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      background-color: #0055c6;
      padding: 0 20px;
    }

    .game_screen {
      display: flex;
      background-color: #8fb460;
      padding: 10px;
      position: relative;

      .field_wrapper {
        display: flex;
        border: 4px solid black;
        min-width: 300px;
        min-height: 600px;

        .field_blank_line {
          display: grid;
          grid-template-columns: $block-size;
        }

        .field_border {
          display: flex;
          flex-direction: column;
        }

        #field {
          display: grid;

          &.field--two_lined {
            grid-template-columns: repeat(6, $block-size);
          }

          &.field--three_lined {
            grid-template-columns: repeat(9, $block-size);
          }
        }
      }
    }
  }
}

.decorative_blocks {
  display: flex;
  flex-direction: column;
  gap: 31.5px;

  .o {
    display: grid;
    grid-template-columns: repeat(2, $block-size);
    grid-template-rows: repeat(2, $block-size);
  }

  .l {
    display: grid;
    grid-template-columns: repeat(1, $block-size);
    grid-template-rows: repeat(4, $block-size);
  }

  .s {
    display: grid;
    grid-template-columns: repeat(2, $block-size);
    grid-template-rows: repeat(3, $block-size);
  }

  .j {
    display: grid;
    grid-template-columns: repeat(2, $block-size);
    grid-template-rows: repeat(3, $block-size);
  }

  .t {
    display: grid;
    grid-template-columns: repeat(2, $block-size);
    grid-template-rows: repeat(3, $block-size);
  }

  .z {
    display: grid;
    grid-template-columns: repeat(2, $block-size);
    grid-template-rows: repeat(3, $block-size);
  }
}

.block {
  width: $block-size;
  height: $block-size;
  position: relative;
  background-color: #8fb460;

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }

  &.decorative {
    background-color: transparent;

    &::before {
      border: 2px solid white;
    }

    &::after {
      background-color: white;
    }
  }

  &.block--active {
    &::before {
      border: 2px solid black;
    }

    &::after {
      background-color: black;
    }
  }

  &.block--inactive {
    &::before {
      border: 2px solid #7cae52;
    }

    &::after {
      background-color: #7cae52;
    }
  }
}


